.Spinner {
  margin: auto;
  padding-right: 2rem;
}

.SpinnerBackground {
  z-index: 4;
  background-color: var(--background-dark);
  position: fixed;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
}

.Hide {
  display: none
}
